h1{
	color:red;
	font-family:Helvetica;
	font-size:60px;
	text-align: center;
	border:2px solid black;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	}


nav {
	border:2px solid black;
	height:60px}

nav li{
	display:inline;
	float:right;git
	padding:2px;}
d

nav a, nav a:visited, nav a:link {
	text-decoration:none;
	color:gray;
	border:2px solid green;
	width:20px;
	padding:10px;
	font-size:20px;
	background-color:lightgreen;}
nav a:hover {
	background-color:green;
	}
nav a:active {
	background-color: hotpink;
	}


section{
	border:2px solid blue;
	/*position:relative;
top:20px*/}

div{
	border:2px solid black;
	/*position:relative;
top:20px*/}

/*
.body{
	position: relative;
	top: 0px;
	left:0px;
}
*/

.services{
	width:40%;
	float: left;
}

.image{
	width:40%;
	height: 100%;
	float: right;
}


br{
	clear: both;
}

.contact_us{
	position: relative;
	top: 0px;
	left:0px;
}



}

footer{
	border:2px solid black;}


.contact_us{
	border:2px solid black;}

/*
dt{
	font-weight: bold;
	font-style: italic;
}*/
